## Data Science Tools and Ecosystem
**Objectives:**
- Commonly used languages
- Commonly used libraries
- Creating table
- Evaluating arthimatic expression
## Author
Awais Ali

##### In this notebook, Data Science Tools and Ecosystem are summarized.
Order list for most commonly used languages for data science
1. Python
2. R Language
3. Scala
4. SQL
5. C++ etc.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit
4. Matplatlib

| Data science tools |
| -----------------|
| Visual Studio |
| Git |
| Docker |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = 3
b = 2
print(a*b)

c = 24
d = 6
print(c/d)

6
4.0

In [3]:
num = (3*4)+5 
# This a simple arithmetic expression to mutiply then add integers
print(num)

17

In [4]:
minuts = 200
# This will convert 200 minutes to hours by diving by 60
hours = minuts/60
print ("Total hours in 200 minuts are:", hours)

Total hours in 200 minuts are: 3.3333333333333335